
.box-left {
  position: relative;
  margin-left: 5%;
  img {
    height: auto;
    width: 50%;
  }
  h1 {
    position: absolute;
    bottom: 20%;
    left: 30%;
    text-shadow: 0px 0px 38px black, 0px 0px 58px black;
    font-family: $font-sans-serif;
    font-weight: bold;
    letter-spacing: 0.04vw;
    font-size: 3.3vw;
  }
  h2 {
    position: absolute;
    bottom: 10%;
    left: 30%;
    padding-top: 30px;
    text-shadow: 0px 0px 38px black, 0px 0px 58px black;
    font-family: $font-sans-serif;
    font-weight: normal;
    letter-spacing: 0.05vw;
    font-size: 1.8vw;

  }
}

.box-wrapper-big {
  position: relative;
  margin-top: 8%;
  margin-right: 4%;
  img {
    float: right;
    height: auto;
    width: 70%;
    left: 30%;
  }

  
}


.box-wrapper-big h1 {
  position: absolute;
  left: 11%;
  top: 4vw;
   text-shadow: 0px 0px 38px black, 0px 0px 58px black;
   font-family: $font-sans-serif;
   font-weight: bold;
   letter-spacing: 0.05vw;
   font-size: 3.3vw;
   
 }

.box-wrapper-big h2 {
  position: absolute;
  top: 9vw;

  left: 11%;
  text-shadow: 0px 0px 38px black, 0px 0px 58px black;
  font-family: $font-sans-serif;
  font-weight: normal;
  letter-spacing: 0.05vw;
  font-size: 1.8vw;
}