
.grid-container {
  
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 50px);
  grid-template-columns: repeat(var(--grid-cols), 50px);
}

.grid-item {
  padding: 5px;
  border: 2px solid #ddd;
  text-align: center;
  margin-right: -1px;
  margin-bottom: -1px;
  cursor: pointer;

}

.grid-item-clicked {
  background-color: orange;
}

.grid-item-clickable {
  background-color: gray;
}

.grid-item-last-clicked {
  background-color: lightcoral;
}

.finder-instruction {
  text-align: center;
  margin-bottom: 8%;

  h2 {
  font-family: $font-sans-serif;
  font-weight: 600;
  letter-spacing: 0.4vw;
  text-shadow: 0px 0px 78px black, 0px 0px 58px black;

  }
}

.button-wrapper {
  margin-top: 3%;

  text-align: center;
  justify-content: center;
}

.button {
  background-color: $color-orange;
  border: none;
  height: 60px;
  width: 200px;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.1vw;
  font-weight: 600;
}

.finder-start {
  display: none;
  background-color: $color-orange;
  border: none;
  height: 60px;
  width: 200px;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.1vw;
  font-weight: 600;
}

.finder-start-finish {
  display: none;
  background-color: $color-orange;
  border: none;
  height: 60px;
  width: 200px;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.1vw;
  font-weight: 600;
}

.finder-compute {
  display: none;
  background-color: $color-orange;
  border: none;
  height: 60px;
  width: 200px;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.1vw;
  font-weight: 600;
}

.button-active {
  display: block;
}

.grid-item-start {
  background-color: pink;
}

.grid-item-finish {
  background-color: purple;
}

.grid-item-path {
  background-color: yellow;
}