*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-background;
  font-size: 14px;
  line-height: 1.7;
  color: $color-white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}