header {
  font-family: 'Source Sans Pro', sans-serif;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.header-splash {

  background-image: url("../../images/background.jpg");

  min-height: 1089px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.nav-bar a { 
  float: right;
  color: $color-white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  &.left {
    float: left;
  }
  
  
}