.about-page-wrapper {
  display: none;
  margin-top: 12%;
}

.finder-page-wrapper {
  margin-top: 13%;
  display: none;
}

.active .about-page-wrapper{
  display: block;
}

.active .finder-page-wrapper {
  display: block;
}

